UPDATE Classifiers  SET CLS_TYPE_ID = 'AuditMessage',  CLS_PARENT_ID = 'B31521E2-70D8-4503-86C7-416AC1D323FE',  CLS_CODE = '0001',  CLS_NAME = 'Veikta sinhronizācija ar darbstaciju {0}',  CLS_VALID_FROM = NULL,  CLS_VALID_UNTIL = NULL,  CLS_TEXT = NULL,  CLS_DECIMAL = NULL WHERE CLS_ID = 'E0D0BE69-13C4-40D3-B520-97F9D342F8F9'
UPDATE Classifiers  SET CLS_TYPE_ID = 'AuditMessage',  CLS_PARENT_ID = 'B31521E2-70D8-4503-86C7-416AC1D323FE',  CLS_CODE = '0010',  CLS_NAME = 'Sinhronizācija: {0}',  CLS_VALID_FROM = '2006-09-11T00:00:00',  CLS_VALID_UNTIL = NULL,  CLS_TEXT = NULL,  CLS_DECIMAL = '0.000' WHERE CLS_ID = '5613C0CD-ED74-4CC7-8812-BA74BFE78507'
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- 
if not exists (select * from Classifiers where CLS_ID='5613C0CD-ED74-4CC7-8812-BA74BFE78507') insert into Classifiers(CLS_ID, CLS_TYPE_ID, CLS_PARENT_ID, CLS_CODE, CLS_NAME, CLS_VALID_FROM, CLS_VALID_UNTIL, CLS_TEXT, CLS_DECIMAL) values ('5613C0CD-ED74-4CC7-8812-BA74BFE78507', 'AuditMessage', 'B31521E2-70D8-4503-86C7-416AC1D323FE', '0010', 'Sinhronizācija: {0}', '2006-09-11T00:00:00', NULL, NULL, '0.000')
if not exists (select * from Classifiers where CLS_ID='E0D0BE69-13C4-40D3-B520-97F9D342F8F9') insert into Classifiers(CLS_ID, CLS_TYPE_ID, CLS_PARENT_ID, CLS_CODE, CLS_NAME, CLS_VALID_FROM, CLS_VALID_UNTIL, CLS_TEXT, CLS_DECIMAL) values ('E0D0BE69-13C4-40D3-B520-97F9D342F8F9', 'AuditMessage', 'B31521E2-70D8-4503-86C7-416AC1D323FE', '0001', 'Veikta sinhronizācija ar darbstaciju {0}', NULL, NULL, NULL, NULL)

delete from Classifiers where cls_type_id = 'InitiatorRole'
delete from ClassifierTypes where CLT_ID = 'InitiatorRole'


UPDATE _SysParameters SET PRM_VALUE = '7' WHERE PRM_NAME LIKE ('VERSION_%_DB')
GO
-- Lūdzu, Юникод  