<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Localization" type="Core.LocalizationConfig, Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>

  <appSettings>
    <add key="entityAssembly" value="Entities"/>
    <add key ="hibernate_config_path" value ="C:\Program Files\Lattelecom Technology\Tpais Scheduler Service\hibernate.central.cfg.xml"/>
  </appSettings>

  <Localization Language="lv" MappingsFile="Localization//Mappings.xml" DictionaryFile="C:\Program Files\Lattelecom Technology\Tpais Scheduler Service\Localization\Dictionary.xml" />

</configuration>